/* App.vue - globale CSS */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
    flex: 1;
}



button:active {
  border: none; /* Entfernt den Button-Rahmen beim Klicken */
  outline: none; /* Entfernt auch die Button-Fokusumrandung, falls vorhanden */
}


/* Setze den globalen Rand und die Farbe für alle Popups */
.swal2-popup {
    border: 2px solid #4a5043;
    border-radius: 10px;
    background-color: white;
}

/* Ändere die Farbe des Titels */
.swal2-title {
    color: #4a5043; /* Titel-Farbe */
}

/* Ändere die Farbe des Texts */
.swal2-html-container {
    color: #333; /* Textfarbe */
}

/* Style für die Buttons */
.swal2-confirm, .swal2-cancel {
    background-color: #4a5043;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}


/* Kann bis min-width: 320px alles ordnungsgemaess darstellen.*/
@media (max-width: 600px) {

  .round-icon-responsive {
    width: 35px;
    height: 35px;
  }

  .oval-icon-responsive {
    width: 49px;
    height: 30px;
  }

  .banner-logo-responsive {
    width: 162px;
    height: 62px;
  }

  .search-input {
    width: 100%; /* Die Suchleiste nimmt jetzt die gesamte Breite ein */
    max-width: 400px; /* Maximalgröße der Suchleiste */
  }

}



