/* App.vue - globale CSS */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

button:active {
    border: none;
    outline: none;
}

/* Setze den globalen Rand und die Farbe für alle Popups */
.swal2-popup {
    border: 2px solid #4a5043;
    border-radius: 10px;
    background-color: white;
}

/* Ändere die Farbe des Titels */
.swal2-title {
    color: #4a5043; /* Titel-Farbe */
}

/* Ändere die Farbe des Texts */
.swal2-html-container {
    color: #333; /* Textfarbe */
}

/* Style für die Buttons */
.swal2-confirm, .swal2-cancel {
    background-color: #4a5043;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}



